<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
RewriteCond %{HTTP_HOST} ^chucampus\.tg$ [OR]
RewriteCond %{HTTP_HOST} ^www\.chucampus\.tg$
RewriteRule ^/?$ "http\:\/\/www\.telemedchucampus\.tg" [R=301,L]
RewriteCond %{HTTP_HOST} ^chucampus\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.chucampus\.com$
RewriteRule ^/?$ "http\:\/\/telemedchucampus\.tg\ " [R=301,L]

<Files .env>
        order allow,deny
        Deny from all
    </Files>
